<div style="display: flex; justify-content: space-between;">
  <div style="width: 23%"><%- partial('_partial/aside') %></div>
  <div style="width: 77%"><%- partial('_partial/archive') %></div>
</div>  