<%- partial('star-bg') %>
<div class="index-continer" style="display: flex; justify-content: space-between">
  <div style="width: 20%"><%- partial('_partial/aside') %></div>
  <div style="width: 80%"><%- partial('_partial/article') %></div>
</div>
