<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <div class="w-bg">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </div>
    <div class="container">    
      <%- partial('_partial/header') %>    
      <%- body %>    
      <%- partial('_partial/footer') %>    
    </div>
  </body>
</html>
