<div class="w-bg">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
</div>
<div class="show-sth">
  <div class="show-title">
    <span>
      Live a good life meet slowly
    </span>
    <br>
  </div>
  <span class="scroll-down"><i class="fa-solid fa-angle-down scroll-down-effects"></i></span>
</div>