body {
  font-size: 1.25rem;
  ine-height: 1.5;
  margin: 0;
  padding: 0;
}
.w-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: -10;
}

@import "_partial/header";
@import "_partial/post";
@import "star";
