<section>
  <div class="aside">
    <div class="aside-item">
      <div class="aside-title"><i class="fa-regular fa-folder-open" style="margin-right: 10px"></i>文章分类</div>
      <div class="aside-content">
        <% site.categories.each(function (category) { %>
          <div class="aside-item-name">
            <%= category.name %>
          </div>
        <% }) %>
      </div>
    </div>
    <div class="aside-item">
      <div class="aside-title"><i class="fa-solid fa-clipboard" style="margin-right: 10px"></i>标签</div>
      <div class="aside-content">
        <% site.tags.each(function (tag) { %>
          <div class="aside-item-name">
            <%= tag.name %>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>