<section class="archive">
  <ul class="post-archive category">
    <% site.categories.each(function (category) { %>
      <div class="category-name post-name">
        <%= category.name %>
      </div>
      <% category.posts.forEach(function(post) { %>
      <li class="post-item">
        <span class="post-date">
          <%= date(post.date, "YYYY-MM-DD") %>
        </span>
        <a class="post-title-small" href="<%- url_for(post.path) %>" target="_self">
          <%= post.title %>
        </a>
      </li>
      <% }) %>
    <% }) %>
  </ul>
</section>
