<footer class="footer">
  <div class="f-center">
    <p class="author">
      Theme is 
      <a href="/" target="_blank" class="footer-link">
        light
      </a> 
      by 
      <a href="<%= config.url %>" target="_blank" class="footer-link">
        <%= config.author %>
      </a>
    </p>    
    <p class="powered">
      Powered by 
      <a href="https://hexo.io/" target="_blank" rel="nofollow" class="footer-link">
        hexo
      </a> 
      &copy; <%- date(Date.now(), 'YYYY') %>
    </p>
  </div>
</footer>