.aside {
  padding-top: 20px;
}
.aside-item {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 4px #ddd;
}
.aside-title {
  font-size 1rem
  font-weight 700
  color #666
  cursor pointer
  transition all .5s
  padding 10px
}

.aside-title:hover {
  color #2092EC
}

.aside-content
  margin-top 5px
  font-size 1rem
  color #666
  padding-bottom 10px

.aside-item-name
  position relative
  cursor pointer
  transition .3s
  padding 3px 0 3px 10px
  display: block
  color: #666

.aside-item-name:hover
  background #F4F4F4
  color #44D7B6

.aside-item-name:hover::before
  width .125rem
  height 100%
  position absolute
  top 0
  left 0
  content ""
  background #44D7B6

.self-intro
  text-align: center
  padding-top: 30px
  padding-bottom: 30px
  .avatar
    border-radius: 50%
  .self-name
    color: #666
    font-weight: 700
    margin-top: 10px
    font-family: Comic Sans MS,Helvetica Neue,Microsoft Yahei,-apple-system,sans-serif
    cursor pointer
  .self-icon
    display: flex
    justify-content: space-between
    padding: 10px 20px 0 20px
  .self-link
    color: #666
    transition: all .3s
  .self-link:hover
    color: #44D7B6

  