.category {
  margin-top: 20px;
}
.post-date {
  font-size: 16px;
  color: #fff;
}
.post-item {
  list-style-type: circle;
  margin-top: 10px;
  margin-left: 30px;
  color: #fff;
}
.post-title {
  font-size: 16px;
}
.category-name {
  margin-top: 20px;
}