.category {
  margin-top: 20px;
}
.post-date {
  font-size: 16px;
  color: #aaa;
}
.post-item {
  list-style-type: circle;
  margin-top: 10px;
  margin-left: 30px;
  color: #fff;
}
.post-title-small {
  color: #aaa;
  font-size: 16px;
  margin-left: 5px;
}
.post-title-small:hover {
  color: rgb(78,161,219);
}
.category-name {
  margin-top: 20px;
}