.footer {
  // background-color: #cbcbcb;
}
.f-center {
  max-width: 974px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666;
  font-size: 16px;
  text-align: center;
}
.footer-link {
  color: rgb(37,143,184);

}
.footer-link:hover {
  color: #30AD91;
}