.footer {
  background-color: rgb(38,42,48);
}
.f-center {
  max-width: 974px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 16px;
}
.footer-link {
  color: rgb(37,143,184);
}
.footer-link:hover {
  color: #fff;
}