.header {
  height: 60px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255,255,255,.5);
  padding-left: 50px;
  padding-right: 50px;
  font-family: SimSun;
  position: fixed;
  top: 0;
  size: 0;
  width: 100%;
  z-index: 10;
}
a {
  text-decoration: none;
}
.menu-item-link,.logo {
  color: #ccc;
}
.menu-item-link:hover,.logo {
  color: #fff;
}
.menu {
  display: flex;
}
.menu li {
  margin-left: 10px;
  font-size: 16px;
}
li {
  list-style: none;
}
