.posts {
  padding: 20px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  min-height: 65vh;
  margin-bottom: 20px;
}
.post {
  border: 1px solid #aaa;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 5px 10px 5px #aaa;
}
.post-title-link {
  color: #333;
}
.post-time {
  font-size: 14px;
  margin-top: 5px;
}
.post-excerpt {
  font-size: 16px;
  margin-top: 5px;
}
.post-excerpt p {
  margin: 0;
}
.page-tags {
  margin-top: 8px;
  font-size: 16px;
}
.tag-items {
  padding: 2px 7px;
  background-color: rgb(231,107,104);
  margin-right: 5px;
  color: #fff;
  border-radius: 3px;
}
.post-header {
  display: flex;
  justify-content: space-between;
}
.read-all {
  font-size: 14px;
  padding: 3px 8px;
  border: 1px solid #999;
  border-radius: 3px;
}
.read-all:hover {
  background-color: #efefef;
  border-bottom-color: rgb(231,107,104);
}
.show-sth {
  height: 90vh;
  position: relative;
}
.show-title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
.show-title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}