.toc-main
  margin-top: 40px
  position: fixed
  top: 60px
  right: 80px

.toc-container
  background: #fff
  padding: 20px
  box-sizing: border-box
  border-radius: 5px;
  box-shadow: 0px 2px 4px 4px #ddd;
  width: 12em
  height: 30em
  overflow-x: hidden
  overflow-y: auto
  animation: showIn .7s ease-out
  @keyframes showIn {
    0% {
      height: 0em
    }
    100% {
      height: 30em
    }
  }

.toc
  margin: 0
  margin-block-start: 0
  margin-block-end: 0
  margin-inline-start: 0px
  margin-inline-end: 0px
  padding-inline-start: 0
  ol 
    padding-inline-start: 15px;

.toc li a
  color: #666
  font-size: 16px
  width: 18em
  font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif;
  display: -webkit-box !important
  text-overflow: ellipsis
  overflow: hidden
  -webkit-line-clamp: 1
  -webkit-box-orient: vertical


.toc li a:hover
  color: #44D7B6

.toc-name
  font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif;
  color: #333
  font-size: 18px
  margin-bottom: 10px
  .toc-icon
    margin-right: 5px

.toc-li-active>a
  color: #44D7B6 !important